# Dependências
node_modules/

# Build
dist/
dist-ssr/

# Variáveis de ambiente (se você criar um .env no frontend futuramente)
.env
.env.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Sistema operacional
.DS_Store
Thumbs.db